@model CourseWork.ServiceCenter.ViewModels.OrderServicesViewModel
@{
    ViewBag.Title = "View";
}

<div class="card mb-4 mt-4">
    <div class="card-header">
        Інформація про сервіс замовлення
    </div>
    <div class="card-body">
        <div class="table-responsive mb-3">
            <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                <tbody>
                    <tr>
                        <td>Сервіс</td>
                        <td>@Model.OrderService.ServiceType.Name</td>
                    </tr>
                    <tr>
                        <td>Ціна сервісу</td>
                        <td>@Model.OrderService.ServiceType.Price</td>
                    </tr>
                    <tr>
                        <td>Загальна ціна</td>
                        <td>@Model.OrderService.TotalServicePrice</td>
                    </tr>
                </tbody>
            </table>
        </div>


        @if (Model.OrderFulfillment.DateStart == null)
        {
            <input id="fulfillmentId" type="hidden" value="@Model.OrderFulfillment.Id" />

            <div class="mb-3">
                <a id="service-start" class="btn btn-warning">Розпочати виконання</a>
            </div>
        }
        else if (Model.OrderFulfillment.DateDone == null)
        {
            <input id="fulfillmentId" type="hidden" value="@Model.OrderFulfillment.Id" />
            <div class="mb-3">
                <a id="service-end" class="btn btn-success">Завершити</a>
            </div>
        }


        <input id="service-id" type="hidden" value="@Model.OrderService.Id" />
        <input id="serviceCenter-id" type="hidden" value="@Session["serviceCenterId"]" />

        <h5>Використані запчастини</h5>

        <div class="table-responsive">
            <table id="serviceParts" class="table table-bordered table-hover" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Назва</th>
                        <th>Ціна</th>
                        <th>Кількість</th>
                        <th>Сума</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Назва</th>
                        <th>Ціна</th>
                        <th>Кількість</th>
                        <th>Сума</th>
                    </tr>
                </tfoot>
            </table>
        </div>


        <button class="btn btn-primary mb-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Додати запчастину
        </button>
        <div class="collapse" id="collapseExample">
            <div class="well">

                <div class="form-group">
                    <label for="part">Назва запчастини</label>
                    <input id="part" type="text" value="" class="form-control mb-2" />
                </div>
                <div class="form-group">
                    <label for="quantity">Кількість</label>
                    <input id="quantity" type="number" min="1" value="" class="form-control mb-2" />
                </div>

                <button id="addPartToService" class="btn btn-secondary float-right">Додати</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/dataTable")
}
