@model CourseWork.ServiceCenter.ViewModels.OrderViewViewModel
@{
    ViewBag.Title = "ViewCity";
}

<div class="card mb-4 mt-4">
    <div class="card-header">
        Інформація про замовлення
    </div>
    <div class="card-body">

        <input id="orderId" type="hidden" value="@Model.Order.Id" />

        <div class="table-responsive mb-5">
            <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                <tbody>
                    <tr>
                        <td>Сервіс центр</td>
                        <td><a href="/serviceCenters/view/@Model.ServiceCenter.Id">@Model.ServiceCenter.CenterNumber (@Model.ServiceCenter.City.Title)</a></td>
                    </tr>
                    <tr>
                        <td>Номер замовлення</td>
                        <td>@Model.Order.OrderNumber</td>
                    </tr>
                    <tr>
                        <td>Дата замовлення</td>
                        <td>@Model.Order.OrderDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Дата завершення</td>
                        <td>@Model.Order.OrderDone</td>
                    </tr>
                    <tr>
                        <td>Клієнт</td>
                        <td>@Model.Order.Customer.Name</td>
                    </tr>
                    <tr>
                        <td>Номер телефона клієнта</td>
                        <td>@Model.Order.Customer.Phone</td>
                    </tr>
                    <tr>
                        <td>Менеджер</td>
                        <td><a href="/employees/edit/@Model.Order.EmployeeId">@Model.Order.Employee.Name</a></td>
                    </tr>
                    <tr>
                        <td>Побутовий пристрій</td>
                        <td>@Model.Order.ServiceAppliance.Model</td>
                    </tr>
                    <tr>
                        <td>Опис</td>
                        <td>@Model.Order.Description</td>
                    </tr>
                    <tr>
                        <td>Кінцева ціна</td>
                        <td>@Model.Order.TotalPrice</td>
                    </tr>

                </tbody>
            </table>
        </div>


        <div class="card mb-4 mt-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i> Сервіси замовлення
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="order-services" class="table table-bordered table-hover" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Сервіс</th>
                                <th>Ціна</th>
                                <th style="max-width: 150px;">Дії</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>Сервіс</th>
                                <th>Ціна</th>
                                <th>Дії</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>



    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/dataTable")
}