@model CourseWork.ServiceCenter.ViewModels.OrderViewViewModel
@{
    ViewBag.Title = "ViewCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-4 mt-4">
    <div class="card-header">
        Інформація про замовлення
    </div>
    <div class="card-body">
        <div class="table-responsive mb-5">
            <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                <tbody>
                    <tr>
                        <td>Сервіс центр</td>
                        <td><a href="/serviceCenter/edit/@Model.ServiceCenter.Id">@Model.ServiceCenter.CenterNumber (@Model.ServiceCenter.City.Title)</a></td>
                    </tr>
                    <tr>
                        <td>Номер замовлення</td>
                        <td>@Model.Order.OrderNumber</td>
                    </tr>
                    <tr>
                        <td>Дата замовлення</td>
                        <td>@Model.Order.OrderDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Дата завершення</td>
                        <td>@Model.Order.OrderDone</td>
                    </tr>
                    <tr>
                        <td>Клієнт</td>
                        <td>@Model.Order.Customer.Name</td>
                    </tr>
                    <tr>
                        <td>Номер телефона клієнта</td>
                        <td>@Model.Order.Customer.Phone</td>
                    </tr>
                    <tr>
                        <td>Менеджер</td>
                        <td><a href="/employees/edit/@Model.Order.EmployeeId">@Model.Order.Employee.Name</a></td>
                    </tr>
                    <tr>
                        <td>Побутовий пристрій</td>
                        <td>@Model.Order.ServiceAppliance.Model</td>
                    </tr>
                    <tr>
                        <td>Кінцева ціна</td>
                        <td>@Model.Order.TotalPrice</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <h5>Сервіси замовлення:</h5>

        <div class="table-responsive">
            <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Номер телефону</th>
                        <th>Адреса</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var center in Model.ServiceCenters)
                    {
                        <tr>
                            <td><a href="/serviceCenter/@center.Id">@center.CenterNumber</a></td>
                            <td>@center.Phone</td>
                            <td>@center.Address</td>
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
    </div>
</div>
