@model CourseWork.ServiceCenter.ViewModels.OrderFulfillmentViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Назначення на сервіс (id: @Model.OrderFulfillment.OrderServiceId)</h2>


@using (Html.BeginForm("Save", "OrdersFulfillment"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")


    <div class="form-group">
        @Html.LabelFor(f => f.OrderFulfillment.EmployeeId)
        @Html.DropDownListFor(f => f.OrderFulfillment.EmployeeId, new SelectList(Model.Employees, "Id", "Name"), "Оберіть працівника", new { @class = "form-control" })
        @Html.ValidationMessageFor(f => f.OrderFulfillment.EmployeeId)
    </div>

    @Html.HiddenFor(f => f.OrderFulfillment.OrderServiceId)
    @Html.HiddenFor(f => f.OrderFulfillment.Id)
    @Html.AntiForgeryToken()


    <button type="submit" class="btn btn-primary">Зберігти</button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

