@model CourseWork.ServiceCenter.Models.PartCategory
@{
    ViewBag.Title = "PartCategoryForm";
}

@if (Model.Id == 0)
{
    <h2>Нова категорія запчастин</h2>
}
else
{
    <h2>Редагування категорії (id: @Model.Id)</h2>
}

@using (Html.BeginForm("Save", "PartCategories"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(c => c.Title)
        @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Title)
    </div>

    @Html.HiddenFor(c => c.Id)
    @Html.AntiForgeryToken()

    if (Model.Id == 0)
    {
        <button type="submit" class="btn btn-success">Створити</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Зберігти</button>
    }

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}